.readme-skeleton-container {
  h1 {
    .skeleton {
      width: 30%;
    }
  }

  p {
    .skeleton {
      height: 20vh;
    }
    &:nth-child(3) {
      .skeleton {
        height: 35vh;
      }
    }
  }

  @media screen and (max-width: $small) {
    p {
      .skeleton {
        height: 5vh;
      }
      &:nth-child(3) {
        .skeleton {
          height: 5vh;
        }
      }
    }
  }
}
