@import "./common";
@import "./profile";
@import "./readme";

body {
  margin: 0;
  background-color: $backgroundColor;
  color: $textColor;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: $linkColor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.app {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 4rem auto;

  @media screen and (max-width: $small) {
    margin: 1rem;
    flex-direction: column;
  }
}
