@import "./profileSkeleton";

.profile-container {
  margin-top: -2rem;
  width: 25%;
  margin-right: 3rem;

  img {
    display: block;
    border-radius: 50%;
    border: 2px solid #30363d;
    width: 80%;
  }

  .subtitle {
    margin-top: -1rem;
    color: $gray;
    a {
      color: $gray;
    }

    .subtitle-icon {
      margin-right: 0.3rem;
    }
  }

  .links {
    display: flex;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;

    div {
      margin-right: 0.3rem;
    }
  }

  .info {
    .info-detail {
      margin-top: 0.5rem;
      .info-icon {
        margin-right: 0.3rem;
      }
    }
  }

  a {
    color: $textColor;
    &:hover {
      color: $linkColor;
    }
  }

  @media screen and (max-width: $small) {
    margin-top: 1rem;
    width: 100%;

    img {
      width: 18%;
      margin-right: 1.2rem;
    }

    .avtar-title-container {
      display: flex;
    }

    .title-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  @media screen and (max-width: $verySmall) {
    img {
      width: 25%;
    }
  }

  @media screen and (max-width: $tiny) {
    img {
      width: 50%;
    }
  }
}
