@import "./profileSkeleton";

.profile-container {
  margin-top: 2rem;
  width: 25%;
  margin-right: 3rem;

  .avatar {
    display: block;
    border-radius: 50%;
    width: 80%;

    @include themed() {
      border: 2px solid t($border);
    }
  }

  .subtitle {
    margin-top: -1rem;

    @include themed() {
      a {
        color: t($text-secondary);

        &:hover {
          color: t($link);
          text-decoration: none;
        }
      }
    }

    .subtitle-icon {
      margin-right: 0.3rem;
    }
  }

  .bio {
    img {
      height: 1em;
    }
  }

  .links {
    display: flex;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    flex-wrap: wrap;

    div {
      margin-right: 0.3rem;
    }
  }

  .p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .info {
    .info-detail {
      margin-top: 0.5rem;
      .info-icon {
        margin-right: 0.3rem;
      }
    }
  }

  @include themed() {
    a {
      color: t($text);

      &:hover {
        color: t($link);
      }
    }
  }

  hr {
    display: none;
    border: 0;
    @include themed() {
      border-top: 1px solid t($border);
    }
  }

  @media screen and (max-width: $small) {
    margin-top: 1rem;
    width: 100%;

    .avatar {
      width: 18%;
      margin-right: 1.2rem;
    }

    hr {
      display: block;
      margin-top: 2rem;
    }

    .avtar-title-container {
      display: flex;
    }

    .title-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  @media screen and (max-width: $smaller) {
    .avatar {
      width: 25%;
    }
  }

  @media screen and (max-width: $smallest) {
    .avatar {
      width: 60%;
    }
  }
}
