.profile-skeleton-container {
  .avatar {
    width: 80%;
    border-radius: 50%;
  }

  .avatar:after {
    content: "";
    display: block;
    padding-bottom: 90%;
  }

  @media screen and (max-width: $small) {
    .avatar {
      width: 18vw;
      margin-right: 1.2rem;
      height: calc(18vw);
    }

    .avatar-title-skeleton {
      display: flex;
    }

    .title {
      width: 50vw;
      margin-top: 0.7rem;
    }

    .info-skeleton {
      .skeleton {
        height: 15vh;
      }
    }
  }

  @media screen and (max-width: $verySmall) {
    .title {
      margin-top: -0.2rem;
    }
  }

  @media screen and (max-width: $tiny) {
    .avatar {
      width: 40vw;
      height: calc(40vw);
    }
  }
}
